build/

\.vscode/
docs
CMakeLists\.txt\.user

\.vs/

\.vscode/
docs
tests/CMakeFiles/

tests/tests/

tests/cmake_install\.cmake

tests/CMakeCache\.txt

tests/libei\.a

tests/Makefile

build/

lib/_mingw/

lib/_osx/

lib/_x11/
